{{define "title"}}Create a New Transaction{{end}}

{{define "main"}}
<form action='/transaction/create' method='post'>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <div>
        <label>Title:</label>
        {{with .Form.FieldErrors.title}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='title' value='{{.Form.Title}}'>
    </div>
   <!-- TODO: Add remaining fields -->
 
    <div>
        <input type='submit' value='Save'>
    </div>
</form>
{{end}}
