{{define "title"}}Transaction #{{.Transaction.ID}}{{end}}

{{define "main"}}
<h2>Editing Entry - {{.Transaction.Title}}</h2>
        <form action='/transaction/update/{{.Transaction.ID}}' method='post'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            <div>
                <label>Title:</label>
                <input type='text' name='title' value='{{.Form.Title}}'>
            </div>
            <div>
                <label>Transaction Date:</label>
                <input type='date' name='date' value='{{.Form.Date}}'>
            </div>
            <div>
                <label>Amount:</label>
                <input type='text' name='amount' value='{{.Form.Amount}}'>
            </div>
            <div>
                <label>Income:</label>
                <div class='checkbox-wrapper-7'>
                <input class='tgl tgl-ios' id='cb2-7' type='checkbox' name='is_income'
                value='{{.Form.IsIncome}}'>
                <label class='tgl-btn' for='cb2-7'>
                </div>
            </div>
            <div>
                <label>Category:</label>
                <input type='text' name='category' value='{{.Form.Category}}'>
            </div>
            <div>
                <label>Description:</label>
                <textarea class='description' name='description'>{{.Form.Description}}</textarea>
            </div>
            <div class='view-actions'>
                <input type='submit' value='Update'>
                <a href='/transaction/delete/{{.Transaction.ID}}'>Delete</a>
            </div>
        </form>
{{end}}
  